* {
    margin: 0;
    padding: 0;
    font-family: "Arvo", serif;
    font-style: normal;
    scroll-behavior: smooth;
}

/* BODY */

body {
    display: grid;
    display: flex;
    flex-direction: column;
}

/* FIM BODY */


/* BARRRA DE ANÚNCIO */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: #13a89d;
    height: 40px;
    color: #fff;
}

/* FIM BARRA DE ANÚNCIO */

/* CABEÇALHO */

header {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top: 0;
}

.cabecalho{
    width: 100vw;
    height: 80px;
    background-color: #fff;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30vw;
    height: 40px;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #010101;
    font-weight: 700;
}

.menu {
    width: 30vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}

.links {
    padding-right: 20px;
    color: #010101;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.links:hover {
    color: #13a89d;
}

/* FIM CABEÇALHO */

/* CONTEÚDO PRINCIPAL */

.conteudo-principal {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .03);
    height: 500px;
}

.apresentacao {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 40vw;
    color: #000;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-apresentacao {
    font-size: 50px;
    padding: 10px;
}

.texto-apresentacao{
    padding: 10px;
}

.foto-apresentacao {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    width: 40vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* FIM CONTEÚDO PRINCIPAL */

/* INÍCIO BARRA PRINCIPAL */
.barra-principal {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: #13a89d;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

#itens-barra-principal1 {
    display: block;
}

#itens-barra-principal2 {
    display: block;
}

#itens-barra-principal3 {
    display: block;
}

#itens-barra-principal4 {
    display: block;
}

#itens-barra-principal5 {
    display: block;
}

#itens-barra-principal6 {
    display: block;
}

#itens-barra-principal7 {
    display: block;
}


/* FIM BARRA PRINCIPAL */

/* INÍCIO OBJETIVO */
.objetivo{
    padding: 30px;
    margin: auto;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    width: 80vw;
}

.objetivo-parte-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    width: 40vw;
    height: 400px;
}

.titulo-objetivo {
    font-size: 50px;
    padding: 10px;
}

.objetivo-texto-1 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
}

.objetivo-foto {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 400px;
}

.foto-objetivo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.objetivo-texto-2 {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}

.titulo-objetivo-texto-2 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* FIM OBJETIVO */

/* MISSÃO INÍCIO */
.missao {
    padding: 30px;
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    background-color: #13a89d;
    color: #fff;
}

.missao-parte-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    width: 40vw;
    height: 400px;
}

.titulo-missao {
    font-size: 50px;
    padding: 10px;
}

.texto-missao {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 18px;
}

.titulo-missao-foto {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 400px;
}

.foto-missao {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
/* MISSÃO FIM */

/* LOCALIZAÇÃO INÍCIO */

.localizacao {
    margin-top: 50px;
    grid-column: 1 / 4;
    grid-row: 8 / 9;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13a89d;
}

.localizacao-menu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: #fff;
    width: 40vw;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

.localizacao-titulo {
    font-size: 50px;
    padding: 10px;
}

.texto-localizacao {
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 10px;
}

.localizacao-foto {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 40vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto-localizacao {
    border-radius: 50%;
    border: 1px solid green;
    width: 300px;
    height: 300px;
}

/* LOCALIZAÇÃO FIM */

/* redes INÍCIO */

.redes {
    grid-column: 1 / 4;
    grid-row: 9 / 10;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 50px;
}

.redes-cabecalho {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 80vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-titulo {
    font-size: 50px;
    padding: 10px;
}

.redes-conteudo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 200px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.instagram-titulo{
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram-conteudo {
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.tik-tok {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 200px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.tiktok-titulo{
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tiktok-conteudo {
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 200px;
    height: 250px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.loja-titulo{
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loja-conteudo {
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.img-redes {
    width: 150px;
    height: 150px;
}

.btn-redes {
    margin-top: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 40px;
    background-color: #13a89d;
    color: #fff;
    height: 25px;
    padding: 10px;
    text-decoration: none;
}

.btn-redes:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #13a89d;
    border: 1px solid #13a89d;
}

/* CONTATO FIM   */

/* RODAPÉ INÍCIO */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 10 / 11;
    grid-column: 1 / 4;
    background-color: #13a89d;
    height: 50px;
    color: #fff;
}

/* RODAPÉ FIM */

/* RESPONSIVIDADE INÍCIO */

@media screen and (max-width: 1080px) {
    body {
      background-color: lightgreen;
    }

    /* CONTEÚDO PRINCIPAL INÍCIO */
    .apresentacao{
        width: 50vw;
        padding: 20px;
    }
    .foto-apresentacao {
        width: 50vw;
        padding: 20px;
    }
    /* CONTEÚDO PRINCIPAL FIM */

  }


@media screen and (max-width: 1060px){

    /* CABEÇALHO INÍCIO */
    .links {
        color: #13a89d;
        padding-right: 10px;
    }
    /* CABEÇALHO FIM */

}

@media screen and (max-width: 940px){

    /* CABEÇALHO INÍCIO */
    .cabecalho {
        flex-direction: column;
    }
    .links {
        font-size: 14px;
        padding-right: 20px;
    }
    .menu {
        width: 100vw;
        height: 20px;
    }
    /* CABEÇALHO FIM */

    /* CONTEÚDO PRINCIPAL INÍCIO */
    .titulo-apresentacao{
        font-size: 45px;
    }
    .texto-apresentacao {
        font-size: 14px;
    }
    /* CONTEÚDO PRINCIPAL FIM */

    /* BARRA PRINCIPAL INÍCIO */
    
    #itens-barra-principal6 {
        display: none;
    }
    
    #itens-barra-principal7 {
        display: none;
    }
    /* BARRA PRINCIPAL FIM */
}

@media screen and (max-width: 820px){

    /* CABEÇALHO INÍCIO */
    .cabecalho {
        background-color: red;
    }
    .logo {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* CABEÇALHO FIM */

    /* CONTEÚDO PRINCIPAL INÍCIO */
    .titulo-apresentacao{
        font-size: 35px;
        padding: 5px;
    }
    .texto-apresentacao {
        font-size: 14px;
        padding: 5px;
    }
    .foto-apresentacao{
        border: 1px solid black;
        padding: 10px;
    }
    /* CONTEÚDO PRINCIPAL FIM */

    /* BARRA PRINCIPAL INÍCIO */
    
    #itens-barra-principal4{
        display: none;
    }

    #itens-barra-principal5{
        display: none;
    } 

    #itens-barra-principal6 {
        display: none;
    }
    
    #itens-barra-principal7 {
        display: none;
    }

    /* BARRA PRINCIPAL FIM */

}

@media screen and (max-width: 630px){

    /* CABEÇALHO INÍCIO */
    .cabecalho {
        background-color: blue;
    }
    .logo{
        width: 50vw;
    }
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        padding-right: 0px;
    }
    /* CABEÇALHO FIM */

    /* CONTEÚDO PRINCIPAL INÍCIO */
    .conteudo-principal{
        flex-direction: column;
    }
    .apresentacao{
        width: 80vw;
    }
    .foto-apresentacao {
        width: 80vw;
    }
    /* CONTEÚDO PRINCIPAL FIM */

    /* REDES INÍCIO */
    .redes-conteudo {
        flex-direction: column;
    }

    .instagram {
        margin-bottom: 30px;
    }

    .tik-tok {
        margin-bottom: 30px;
    }

    .loja {
        margin-bottom: 30px;
    }
    /* REDES FIM */
}

/* RESPONSIVIDADE FIM */